.text-link{
  list-style: none;
  text-decoration: none;
  color: white;
  transition:0.3s;
}
.text-link:hover{
  font-size: large;
}
label{
  display: block;
}
input{
  padding: 10px 15px;
}
.btn{
  padding:5px;
  background-color: rgb(73, 158, 249);
  border: none;
  border-radius: 3px;
  transition: 0.2ms;
}
.btn:hover{
  opacity: 0.8;
}